<!-- main-home.html -->

<div class="jumbotron text-center">
    <img src="../../../Content/img/hackathonGraphic.png" />
    
</div>

<div class="row">
    <div class="col-md-3" >
        <div class="">
            <img class="img-responsive profile-img margin-bottom-20" src="../../../Content/img/team/5.jpg" alt="" />
        </div>
    </div>
    <div class="col-md-6" >
        
        <div ui-view="tricker-details"></div>

    </div>

    <div class="col-md-3" >
        <div class="">
            <div ui-view="trickers"></div>
        </div>
    </div>
</div>
